@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border;
}

body {
  @apply font-normal text-left text-sm relative text-gray-700 bg-primary-dark;
}

@layer utilities {
  .shadow-card {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
  }

  .shadow-button {
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.18);
  }

  .overflow-wrap-anywhere {
    overflow-wrap: anywhere;
  }
  .transparent-scrollbar {
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 4px;
    }
  }
}
